// Animations
@keyframes rotateMouse {

  0%,
  100%,
  30% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  10% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  20% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}